body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #451e00;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

h1 {
  margin-bottom: 5%;
}

h2 {
  margin-bottom: 10%;
}

.txt, #turn {
  -webkit-text-stroke: 1px #fff;
}

.txt.red {
  color: #eb4d3d;
}

.txt.black {
  color: #000000;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 12vw);
  grid-template-rows: repeat(8, 12vw);
  gap: 0;
  user-select: none;
}

.square {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.black {
  background-color: #654321;
}

.square.white {
  background-color: #D2B48C;
}

.piece {
  width: 85%;
  height: 85%;
  background-size: cover;
  background: transperant;
  border-radius: 100%;
  border: 2px solid #ffffff;
}

.piece.red {
  background-image: url('images/red-pawn.png');
}

.piece.black {
  background-image: url('images/black-pawn.png');
}

.king {
  border: 2px solid gold;
}

.red.king {
  background-image: url('images/red-king.png');
}

.black.king {
  background-image: url('images/black-king.png');
}

.selected {
  outline: 2px solid yellow;
}

.square.highlight {
    background-color: rgba(255, 255, 0, 0.35);
  transition: background-color 0.05s ease;
}

.taken-pieces {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.taken-pieces .piece {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin: 2px;
}

.red-taken .piece {
  background-color: red;
}

.black-taken .piece {
  background-color: black;
}

.taken-pieces .king {
  border: 2px solid gold;
}

#redo {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#history {
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#history img {
  width: 20%;
  aspect-ratio: 1;
  filter: invert(100%);
  transition: scale 0.3s ease;
}

#history img:first-child {
  margin-right: 10px;
}

#history img:hover {
  scale: 1.2;
  transition: scale 0.2s ease;
}
